.mainimg{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSRUqoICN37QQVovjChZ_y4tgtGjIhNSHNC7w&s");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 50vh;
}